<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhbd.beidoucommunication">

    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 电话号码相关 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!-- 全局悬浮窗的权限 -->
    <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 读写文件权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->


    <!-- 播放音频的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Required -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".base.TitlebarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegistActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.ForgetPassActivity"
            android:screenOrientation="portrait" />

        <!-- 用于接收消息和发送系统自检信息的服务 -->
        <service
            android:name=".service.GlobalService"
            android:label="QServer"
            android:persistent="true">
            <intent-filter>
                <action android:name="com.zhbd.beidoucommunication.service.GlobalService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.FriendDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChatMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.activity.AddFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BuildGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SendSmsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SendEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SetRamarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowIcInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShowSignalStrengthActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.FloatViewService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activity.EditPersonalInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zhbd.beidoucommunication.service.NotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.VoucherCenterAcitvity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.PatternOfPaymentActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.FriendPaidAcitvity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.AboutUsActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>